#husky_feedback_container{
	width: 450px;
	height: 400px;
	position: fixed;
	top: 10px;
	right: 350px;
	z-index: 9999999;
	background-image: url('chrome-extension://__MSG_@@extension_id__/images/share-grid-bg.png');
	border:1px solid #000000;
}

#husky_feedback_logo{
	width: 270px;
	height: 245px;
	position: absolute;
	top: -15px;
	right: -30px;
	background-image: url('chrome-extension://__MSG_@@extension_id__/images/feedback-logo.png');
}

#husky_feedback_cancelbutton a {
	width: 16px;
	height: 16px;
	position: absolute;
	top: 10px;
	right: 10px;
	background-image: url('chrome-extension://__MSG_@@extension_id__/images/cancelbutton.png');	
	float: left; 
	margin: 5px 5px 5px 5px; 
	/* this is useful for when we have signed in vs signed out states
	opacity: 0.4;
	*/
}

#husky_feedback_headline{
	width: 50px;
	height: 50px;
	position: relative;
	left: 15px;
	top: 25px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 20px;
	color: #666;
	}

#husky_feedback_name{
	position: absolute;
	left: 10px;
	top: 115px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
}

#husky_feedback_name_resizedTextbox {
	width: 200px; 
	height: 25px;
	position: absolute;
	left: 10px;
	top: 135px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	resize: none;
}

#husky_feedback_email{
	position: absolute;
	left: 10px;
	top: 170px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
}

#husky_feedback_email_resizedTextbox {
	width: 200px; 
	height: 25px;
	position: absolute;
	left: 10px;
	top: 190px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	resize: none;
}

#husky_feedback_comment{
	position: absolute;
	left: 10px;
	top: 225px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;

}

#husky_feedback_comment_resizedTextbox {
	width: 430px; 
	height: 100px;
	position: absolute;
	left: 10px;
	top: 245px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	resize: none;
}

#husky_feedback_submitButton {
	width: 150px;
	position: absolute;
	left: 10px;
	top: 355px;	
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #00b6df), color-stop(1, #0096ad) );
	background:-moz-linear-gradient( center top, #00b6df 5%, #0096ad 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00b6df', endColorstr='#0096ad');
	background-color:#00b6df;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #ffffff;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #000000;
}

#husky_feedback_submitButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0096ad), color-stop(1, #00b6df) );
	background:-moz-linear-gradient( center top, #0096ad 5%, #00b6df 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0096ad', endColorstr='#00b6df');
	background-color:#0096ad;
}

#husky_feedback_submitButton:active {
	position:relative;
	top:1px;
}